@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    min-height: 100%;

    @include m.tablet {
        height: 100%;
    }

    display: flex;
    flex-direction: column;
    background-color: v.$light;
    color: v.$light;
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    // margin-left: 50%;
}

.main-content {
    overflow-y: auto;
    height: calc(100vh - 60px);
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/* Para Chrome, Safari, Edge y Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


select, option, input[type=date] {
    font-size: 1.25rem !important;
}

.bg-off {
    background-color: v.$gris !important;
}

.border-off {
    border-color: darken($color: v.$gris, $amount: 20%);
}