@use '../base/variables' as v;
@use '../base/mixins' as m;

.sidebar {
  // margin-top: 50px;
  height: 100vh;
  background-color: lighten(v.$primary, 20%);
  display: flex;
  align-items: center;
}
/* Ajusta el alto a tu gusto; aquí usamos 60px para cada enlace */
.sidebar-link {
    background-color: lighten(v.$primary, 20%);
    color: #fff !important;        /* Forzamos el color blanco */
    display: flex;
    align-items: center;
    justify-content: left;
    height: 69px;       /* Borde redondeado leve */
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
    width: 100%;
    i {
      margin-right: 10px;
    }
  }
  
  /* Cuando el enlace está activo (coincide con la ruta actual) */
  .sidebar-link.active {
    background-color: #fff !important;
    color: v.$primary !important;
  }
  
  /* Efecto hover opcional */
  .sidebar-link:hover {
    filter: brightness(0.9);
  }
  
  /* Para pantallas pequeñas (sm), la columna es 3/12 = 25% */
@media (min-width: 576px) {
  .sidebar-fixed {
    width: 25%;
  }
}

/* Para pantallas medianas en adelante (md), la columna es 2/12 ≈ 16.67% */
@media (min-width: 768px) {
  .sidebar-fixed {
    width: 16.67%;
  }

  .sidebar-link {
    height: 60px;
  }
}